.box{
    width:600px;
    height:550px;
    background-color:#00ffff;
    margin-left:60px;
    margin-top:60px;
    margin-right:80px;
    border:10px solid yellow;
    
}
.answer{
    width:600px;
    height:300px;
    background-color:black;
}
.h1{
    margin:-2px 250px -50px;
    color:darkblue;
}
.secondh1{
    margin:6px 60px -50px;
    color:darkblue;
}

.outer_border{
    width:500;
    height:700px;
    background-color:brown;
}
.outer_border,.box{
    display:inline-block;
}
select{
    width:150px;
    height:20px;
    background-color: blueviolet;
    color:white;
}
option{
    background-color:navy;
    color:white;
}

.question{
    width:600px;
    height:90px;
    background-color:blueviolet;
}
.question:hover{
    color:white;
}
.question,.que{
    display:inline-block;
    text-align:center;
}
.que{
    margin:10px 0px 0px;
    font-weight: 800;
}
.answer1{
    width:600px;
    height:30px;
    background-color:darkolivegreen;
    

}
.answer2{
    width:600px;
    height:30px;
    background-color:gold;

}
.answer1:hover,.answer2:hover,.answer3:hover,.answer4:hover{
    background-color:white;
}
.answer3{
    width:600px;
    height:30px;
    background-color:dodgerblue;
}
.answer4{
    width:600px;
    height:30px;
    background-color:darkmagenta;
}
input{
    width:600px;
    height:100px;
    background-color: chartreuse;
}
input:hover{
    background-color:red;
}
.wrong_answer{
    width:200px;
    height:200px;
    background-color: burlywood;

}
.wronganswer{
    margin:-48px 80px -15px;
    color:red;   
}